{% extends "proophessor_do/base.twig" %}
{% block content %}
<h1>Register a new User</h1>
<div class="row">
    <div class="col-md-12">
        <user-form></user-form>
    </div>
</div>
{% endblock %}
{% block page_js %}
    <script>
        $(function() {
            {{ riotTag('proophessor_do/riot-user-form.twig') }}

            var UserForm = ProophRiot.App.create();

            $( function() {
                UserForm.bootstrap( "user-form" ).ready();
            } );
        });
    </script>

{% endblock %}
